body {
    margin: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.pokedex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Abstand zwischen den Karten */
    justify-content: center;
  }
  
  .pokemon-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 250px;
    text-align: center;
  }

  img {
    width: 100px;
    height: 100px;
  }